<div class="work_manuals_search-wrap">
  <%= search_form_for @search do |f| %>
    <%= f.label :process_cont, '工程名' %>
    <%= f.search_field :process_cont %>
    <%= f.label :tags_name_eq, 'タグ' %>
    <%= f.collection_select :tags_name_eq, @tags, :name, :name, include_blank: '指定なし'  %>
    <%= f.submit '検索' %>
  <% end %>
</div>
<div class="work_manual-wrap">
    <% @work_manuals.each do |work_manual|%>
      <div class="work_manual_header">
        <div class="work_manual_title" >
          <%= "マニュアル名： #{work_manual.title}" %>
        </div>
        <div class="work_manual_process">
          <%= "工程： #{work_manual.process}" %>
        </div>
      </div>
      <div class="work_manual_main">
        <div class="work_manual_video">
          <% if work_manual.video.attached? %>
            <%= video_tag rails_blob_path(work_manual.video, disposition: "attachment"), :controls => true %>
          <%end%>
        </div>
        <div class="work_manual_main_right">
          <ul>
            <li>
              <%work_manual.tags.each do |tag| %>
                #<%=tag.name%>
              <%end%>
            </li>
          </ul>
          <div class="work_manual_btn">
            <% if current_user.authority_id >= 3 %>
            <ul>
              <li><%= link_to '手順の一覧・作成', work_manual_path(work_manual.id), method: :get %></li>
              <li><%= link_to 'マニュアル編集', edit_work_manual_path(work_manual.id), method: :get %></li>
              <li><%= link_to 'マニュアル削除', work_manual_path(work_manual.id), method: :delete %></li>
            </ul>
            <%else%>
              <%= link_to '手順の一覧をみる', work_manual_path(work_manual.id), method: :get %>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
</div>