<!DOCTYPE html>
<html>
  <head>
    <title>Work_Manual_app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/286d83ac03.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="header">
        <div class="header_left">
          <h1 class="header_logo">
          <a href="/"><i class="fas fa-chalkboard-teacher"></i> Work_Manual_App</a></h1>
        </div>
        <div class="header_right">
          <div class="user_name">
            <% if user_signed_in? %>
              <%= "ログイン中： #{current_user.name}さん" %>
            <%else%>
              <%= "ログインもしくは新規登録が必要です" %>
            <% end %>
          </div>
          <div class="main_nav">
            <% if user_signed_in? %>
              <%= link_to (new_message_path)do%>
                <span class="far fa-comment-dots btn"> メッセージ</span>
              <%end%>
              <%= link_to (work_manuals_path)do%>
                <span class="fas fa-book-reader btn"> 一覧をみる</span>
              <%end%>
              <%= link_to (new_work_manual_path)do%>
                <span class="fas fa-book btn"> 登録する</span>
              <%end%>
              <%= link_to (edit_user_registration_path)do%>
                <span class="far fa-address-card btn"> ユーザー編集</span>
              <%end%>
              <%= link_to (destroy_user_session_path), method: :delete do%>
                <span class="fas fa-sign-out-alt btn"> ログアウト</span>
              <%end%>
            <% else %> 
              <%= link_to (new_user_session_path) do%>
                <span class="fas fa-sign-in-alt btn"> ログイン</span>
              <%end%>
              <%= link_to (new_user_registration_path)do %>
                <span class="fab fa-creative-commons-by btn"> 新規登録</span>
              <% end%>
            <% end%> 
          </div>
        </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright Work_Manual_App.
      </p>
    </footer>
  </body>
</html>
